main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: lightslategray;
}

.wordbox {
  text-align: center;
  margin: 3px;
  position: relative;
}

.wordButton {
	width: 100%;
}