body {
	background-color: lightblue;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #6699ff;
  border-radius: 4pt;
}

h1 {
	text-align: center;
}

.wordbox {
  text-align: center;
  margin: 3px;
  position: relative;
}

.wordButton {
	width: 100%;
	padding: 3pt;
	box-sizing: border-box;
	border: 2pt solid #66ccff;
	background-color: #99ccff;
	border-radius: 4pt;
}

.closeButton {
	position: absolute;
	right: 0;
	top: 0;
	border-radius: 4pt;
	background-color: red;
	border: none;
}

#definitionPane {
	position: fixed;
	margin: auto;
	background-color: white;
	border: 2pt solid #66ccff;
	border-radius: 4pt;
	padding: 5pt;
	padding-right: 20pt;
	z-index: 1;
}

#githubLink {
	margin-left: 45%;
	width: 100pt;
}

#inputForm {
	margin-left: 36%;
	margin-right: 34%;
	padding: 5pt;
	border-radius: 4pt;
	background-color: #6699ff;
}