{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
    <form id="inputForm" action="/words" method="post">
        {{ form.hidden_tag() }}
        {{ render_field(form.avail_letters) }}
		<br>
		{{ render_field(form.wordLengthDropDownMenu) }}
        <br>
		{{ render_field(form.patternTextBox) }}
        <br>
		{% if inputError %}
			<ul class=errors>
				<li class="error">{{ inputError }}</li>
			</ul>
		{% endif %}
		<br>
        {{form.submit()}}
    </form>
{% endblock %}